<app-navbar></app-navbar>
<app-hero class="animate__animated animate__fadeIn"></app-hero>
<app-mi-perfil class="animate__animated animate__fadeIn"></app-mi-perfil>
<app-mi-experiencia class="animate__animated animate__fadeIn"></app-mi-experiencia>
<app-mi-educacion class="animate__animated animate__fadeIn"></app-mi-educacion>
<app-mis-habilidades class="animate__animated animate__fadeIn"></app-mis-habilidades>
<app-mi-porfolio class="animate__animated animate__fadeIn"></app-mi-porfolio>
<app-footer></app-footer>
