<carousel>
  <slide class="slide">
    <img src="assets/img/slide/1.png" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Codear me apaciona!</h3>
      <p>Y hacerlo profesionalmente es aún mejor.</p>
    </div>
  </slide>
  <slide class="slide">
    <img src="assets/img/slide/2.png" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Ver tu codido en tantas plataformas.</h3>
      <p>Es todo un reto, pero es ahi donde se ve plasmado tu esfuerzo.</p>
    </div>
  </slide>
  <slide class="slide">
    <img src="assets/img/slide/3.png" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Te hace UNICO</h3>
      <p>Donde estes dejas tu huella, tu forma de codificar. Y siempre teniendo en cuenta el cambio.</p>
    </div>
  </slide>
