<div class="container">
  <h3 class="mt-4">Agregar Experiencia Laboral</h3>
  <!-- <pre>{{ miFormulario.value | json}}</pre> -->
  <hr>

  <form [formGroup]="miFormulario" class="mt-3" (ngSubmit)="guardarTrabajo()" class="pt-5">

    <!-- Cargo -->
    <div class="form-floating mb-3">

      <input type="text"
      class="form-control"
      placeholder= "Ingrese su Cargo en la Empresa"
      id="txNombre"
      formControlName="titulo"
     >

      <label for="txNombre">Cargo en la Empresa:</label>

      <!-- <span *ngIf="campoEsValido('nombre')"
            class="form-text text-danger">Este campo es obligatorio
      </span> -->

    </div>
    <!-- Institucion -->
    <div class="form-floating mb-3">

      <input type="text"
      class="form-control"
      placeholder= "Ingrese Empresa donde se desempeña"
      id="txNombre"
      formControlName="institution"
      >

      <label for="txNombre">Empresa donde se desempeña:</label>

      <!-- <span *ngIf="campoEsValido('nombre')"
            class="form-text text-danger">Este campo es obligatorio
      </span> -->

    </div>

    <!-- Descripcion -->
    <div class="form-floating mb-3">

      <input type="text"
      class="form-control"
      placeholder= "Describa de las tareas que realiza"
      id="txNombre"
      formControlName="descripcion"
      >

      <label for="txNombre">Descripcion de las tareas que realiza:</label>

      <!-- <span *ngIf="campoEsValido('nombre')"
            class="form-text text-danger">Este campo es obligatorio
      </span> -->

    </div>
    <!-- Descripcion -->
    <div class="form-floating mb-3">

      <input type="text"
      class="form-control"
      placeholder= "Ingrese url de la imagen"
      id="txNombre"
      formControlName="imagen"
      >

      <label for="txNombre">Url de la Imagen:</label>

      <!-- <span *ngIf="campoEsValido('nombre')"
            class="form-text text-danger">Este campo es obligatorio
      </span> -->

    </div>
    <div class="form-floating mb-3">

      <input type="text"
              placeholder="Elija la fecha"
              class="form-control"
              formControlName="startDate"
              [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
              bsDatepicker>

      <label for="txNombre">Inicio:</label>

      <!-- <span *ngIf="campoEsValido('nombre')"
            class="form-text text-danger">Este campo es obligatorio
      </span> -->

    </div>
    <div class="form-floating mb-3">

      <input type="text"
              placeholder="Elija la fecha"
              class="form-control"
              formControlName="endDate"
              [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
              bsDatepicker>

      <label for="txNombre">Fin:</label>

      <!-- <span *ngIf="campoEsValido('nombre')"
            class="form-text text-danger">Este campo es obligatorio
      </span> -->

    </div>
    <button type="button" class="btn btn-secondary float-start" routerLink="/">
      Cancelar
    </button>
    <button type="submit" class="btn btn-info float-end">
      Guardar !
    </button>

  </form>
</div>
