<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- <div class="container my-5"> -->

  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->

    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © {{this.anio}} Copyright:
    <a class="text-white" href="http://www.arielbernardo.com.ar/" target="_blank"> {{misDatos.nombre | titlecase }}{{misDatos.apellido | titlecase}}</a>
  </div>
  <!-- Copyright -->
</footer>

<!-- </div> -->
<!-- End of .container -->
